@page "/products/list"

@if (Products == null)
{
    <p style="text-align:center">
        <img src="../images/loader.gif" />
    </p>
}
else
{
    <div class="card shadow mt-2 mb-2">
        <div class="card-header">
            <h1 class="PageTitle">Product List</h1>
        </div>
        <div class="card-body">
            <div>
                <a href="/addproduct" class="float">
                    <span class="oi oi-plus float-margintop" aria-hidden="true"></span>
                </a>
            </div>
            <table class="table table-striped table-bordered table-hover shadow" aria-labelledby="tableLabel">
                <thead class="table-header-dark">
                    <tr>
                        <th>Id</th>
                        <th>Picture</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Active</th>
                        <th>Price</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Products)
                    {
                        <tr>
                            <td>@product.Id</td>
                            <td>
                                @*<img class="rounded-circle image-styles" src="@product.PictureUrl" title="product.title" />*@
                                To be done
                            </td>
                            <td>
                                @product.Name
                            </td>
                            <td>
                                @product.Description
                            </td>
                            <td>
                                @*@if (@product.IsActive)
                                {
                                    <span class="oi oi-thumb-up span-styles"></span>
                                }
                                else
                                {
                                    <span class="oi oi-thumb-down span-styles"></span>
                                }*@
                                Yes
                            </td>
                            <td>10.89</td>
                            <td>
                                <a href="editproduct/@product.Id" class="td-a-edit">
                                    <span class="oi oi-pencil icon span-styles" aria-hidden="true"></span>
                                </a>
                            </td>
                            <td>
                                <a href="deleteproduct/@product.Id" class="td-a-delete">
                                    <span class="oi oi-trash icon span-styles" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
